
<div class="allPage">
    <div class="date">
        <label>:תאריך הוספה </label>
        {{re.DataAdd|date:"d/m/yy"}}
  

    <div class="cat">
        <label >קטגוריה</label>       
            <div *ngIf="asian()" ><img src="../../assets/asia.png"  width="60" height="60"/></div>
            <div *ngIf="aitaly()"><img src="../../assets/איטלקי.png"  width="60" height="60"/></div>
            <div *ngIf="isrealy()"><img src="../../assets/isr.png"  width="60" height="60"/></div>‏
</div>‏
  </div>
<div  class="name">   
{{re.NameR}}
</div>
<div>
<div class="imgb">
    <img [src]="re.image" class="img" />   
</div>
</div>

<div class="all">
<div class="time" >     
    <div>
         <label>:זמן הכנה</label>
    </div>
    <img src="../../assets/clock.png" id="time">
    {{re.Time|hours}}
</div>

<div >
    <label class="level1">:דרגת קושי </label>  
    <div *ngFor ="let x of pic" class="level"> 
    <img [src]="x" id="level">   
    </div>  

    <div class="of">
        <label>הוראות</label>
        <ol>
        <li *ngFor="let p of re.preparationM">{{p}}</li> 
      </ol>
    </div>
</div>
    <div class="pr">
        <label>מצרכים</label>
       <div *ngFor="let x of re.ListComponent"><img src="../../assets/k.png" width="18" height="18" id="img"> {{x}}</div> 
    </div>


<div>
    <input alt="Avatar" class="edit" type="button" value="לעריכה" (click)="getEdit()"  width="35px">  
  </div>

</div>
</div>
