
<body>
    <div class="container1">
    <div class="container">
      <img   [src]=" MyRecipe.image" alt="Avatar" class="image" />

      <div  class="overlay" (click)="getAlldetiels()">
       
        <div class="name" >
            {{MyRecipe.NameR }}
        </div>
    
        <div class="time">
          <h2>  זמן הכנה:  {{MyRecipe.Time|hours}} </h2>
      
        </div>
        <div class="darga">
          <h2>   {{MyRecipe.Darga}}   :דרגת קושי</h2>
      </div>
      
        </div>
      </div>
    </div>
    </body>‏
    