 .b{
    
    background-image: url("../../assets/כף.jpg");
       
   background-repeat: no-repeat;
   
   background-position: right top;
   
   background-attachment:fixed;
   
   background-size: cover; 
   
   direction: rtl;
   font-size: 23px;
   display: flex;
   color: black;
   height: 100%;
    } 
    .save{
       background-color:rgb(75, 75, 75);
       font-size: 24px;
   width: 120px;
   color:black;
   font-weight: 400;
        margin-bottom: 20px;
   
    }
    .cancel{
       background-color:rgb(75, 75, 75);
       font-size: 24px;
   width: 120px;
   color:black;
   font-weight: 400;
        margin-bottom: 20px;
   
    }
    .sc{
         display: flex; 
         float:inline-start; 
         padding: 20px;
        font-family: GVERETLEVINALEFALEFALEF-REGULAR;
   margin-top: 50px;
   margin-left: 330px;
    }
    .row{
        margin-left: 400px;
        margin-top: 10px;
    }
   .inputs{
       width: 250px;
       height: 40px;
       font-family: GVERETLEVINALEFALEFALEF-REGULAR;
   
    border-radius: 5px;
   background-color:rgba(255, 255, 255, 0.877) ;
   }
   .inputs1{
       width: 870px;
       height: 40px;
    border-radius: 5px;
   background-color:rgba(255, 255, 255, 0.877) ;
   }
   /* .left{
     margin-top: 10px;
       margin-left: 500px;
       font-family: GVERETLEVINALEFALEFALEF-REGULAR;
       margin-right: 800px;
      margin-top: 100px;
       float: left; 
      font-size: 22px;
   } */
   /* .if{
       font-family: GVERETLEVINALEFALEFALEF-REGULAR;
   
   } */
   
   .form-group{
   margin-top: 30px;
       width: 150px;
      
   }
   .banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
   .container{
       background:rgba(255, 255, 255, 0);
        border-radius: 10px; 
        box-shadow:15px 20px 0px rgba(0, 0, 0, 0);
       width: 500px;
       height: 600px;
       margin-right: 400px;
  
   }
   .text-uppercase{
        font-size: 25px;
       font-weight: 600;
       font-family: GVERETLEVINALEFALEFALEF-REGULAR;
       width: 355px;
       margin-left: 1400px;
       padding:8px;
   }
   
   .carousel-inner{border-radius:0 10px 10px 0;}
   .login-sec{padding: 50px 30px; position:relative;}
   .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:left;}
   .login-sec .copy-text i{color:#5c2f15;}
   .login-sec .copy-text a{color:#501f1f;}
   .login-sec h2{margin-bottom:30px; font-weight:800;}  