@font-face{
    font-family:GVERETLEVINALEFALEFALEF-REGULAR;
    src: url("assets/myFonts/GVERETLEVINALEFALEFALEF-REGULAR.TTF");
    font-family: bold;
}
@font-face{
    font-family: GveretLevinAlefAlefAlef-Regular;
    src: url("assets/myFonts/GVERETLEVINALEFALEFALEF-REGULAR.TTF");
   
}